/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f7f7f8;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.container {
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

p{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
}

.date-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.date-group label{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.task-form input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

.task-form button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.task-form button:hover {
    opacity: 0.85;
}

.task-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px;
}

.task-item {
    background: white;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
}

.task-text {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}


.task-actions button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.high {
    border-left: 5px solid #ff4d4d;
}

.medium {
    border-left: 5px solid #ffaa00;
}

.low {
    border-left: 5px solid #4caf50;
}

@media (max-width: 500px) {
    body {
        padding: 20px 10px;
    }

    .task-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}